{% extends 'base.html' %}

{% block content %}
    <h1>{{article.title}}</h1>
    <div>
        <div>
            <span>by {{article.author}}</span> &middot;
            <span>{{article.date}}</span>
        </div>
        <div>{{article.body}}</div>
        <div>
            <a href="{% url 'article_edit' article.pk %}">Edit</a>
             | <a href="{% url 'article_delete' article.pk %}">Delete</a>
        </div>
        <div><a href="{% url 'article_list' %}"></a></div>
        <div>
            {% for comment in article.comments.all %}
            <span>{{comment.author}} &middot; {{comment.comment}}</span>
            {% endfor %}
        </div>
    </div>

{% endblock content %}